<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>Home</title>
</head>
<body>
    <header>
        <img class= "logo" src="../static/img/logo amanda.png">
        <button class="membros">
            <a href="/membros">Membros</a>
        </button>
        <button class="setlist">
            <a href="/setlist">Setlist</a>
        </button>
    </header>
    <main>
        <div class="conteudo1">
            <div class="bloco1">
                <h1>Wannabe X Winners</h1>
                <p>Pagina dedicada a informações sobre o grupo de Dança Wannabe X Winners.</p>
                <p>Wannabe X Winners é um grupo de Dança voltado para o Kpop e Hip Hop, que teve inicio em um clube escolar.</p>
                <p>Para conhecer os membros da Equipe acesse a pagina membros</p>
                <p>Para ver o setlist da Proxima apresentação acesse setlist</p>
                <br>
                <br>
                <p>Redes sociais dos membros estará disponível em breve</p>
                <br>
            </div>
        </div>
    </main>
</body>
</html>