<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/membros.css">
    <title>Membros</title>
</head>
<body>
    <header>
        <img class= "logo" src="../static/img/logo amanda.png">
        <button class="index">
            <a href="/index">Home</a>
        </button>
        <button class="setlist">
            <a href="/setlist">Setlist</a>
        </button>
    </header>
    <main>
        <div class="conteudo2">
            <div class="bloco2">
                <h1>Membros</h1>
                <ul>
                    <li>Yuri(Líder Kpop)</li>
                    <li>BiBi(kpop)</li>
                    <li>Hanna(kpop)</li>
                    <li>Ray(kpop)</li>
                    <li>Petter(kpop)</li>
                    <li>Emy(kpop)</li>
                    <li>Rapha(kpop)</li>
                    <li>Min Ahri(kpop)</li>
                    <li>Anna(kpop)</li>
                    <li>José(kpop)</li>
                    <li>Jennie(Líder Hip Hop)</li>
                    <li>Martins(hip hop)</li>
                    <li>Lay(hip hop)</li>
                    <li>Pedro(hip hop)</li>
                    <li>Dry(hip hop)</li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>