<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/setlist.css">
    <title>Setlist</title>
</head>
<body>
    <header>
        <img class= "logo" src="../static/img/logo amanda.png">
        <button class="index">
            <a href="/index">Home</a>
        </button>
        <button class="membros">
            <a href="/membros">Membros</a>
        </button>
    </header>
    <main>
        <div class="conteudo 3">
            <div class="bloco3">
                <h1>Setlist</h1>
                <ol>
                    <li>Uh Oh - (G)i-dle (Kpop)</li>
                    <li>Lion - Youth with You (kpop)</li>
                    <li>Not Today -BTS (kpop)</li>
                    <li>My pace - StrayKidz (kpop)</li>
                </ol>
                <p> A Proxima aprsentação ocorrerá ao fim deste primeiro semestre. Logo informaremos a data Oficial.</p>
            </div>
        </div>
    </main>
</body>
</html>